
.tasks-page__wrapper {
    background-color: #0072b4;
    height: 300vh;
  }
.desk__workspace {
}
.container {
}
.tasks_grops-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 32px;
}
