
.button__wrapper {
  display: inline-flex;
  align-items: center;
}

.button-wrapper__button{
  color: #fff;
  min-height: 32px;
  display: flex;
  gap: 8px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 7px 12px;
  align-items: center;
  background-color: #0C66E4; 
  transition: filter 0.3s ease;
}

/* Иконки в кнопках */
.button-wrapper__icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.button-wrapper__text{
  margin: 0;
}

.button-wrapper__button:hover {
  filter: brightness(0.8); 
}
